asgiref==3.5.0
astroid==2.9.3
certifi==2021.10.8
click==8.0.3
confusable-homoglyphs==3.2.0
dj-database-url==0.5.0
Django==4.0.3
django-bootstrap==0.2.4
django-bootstrap3==21.2
django-heroku==0.3.1
django-registration==3.2
Flask==2.0.2
Flask-WTF==1.0.0
fontawesomefree==6.0.0
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.6.1
Pillow==9.0.1
platformdirs==2.4.1
psycopg2==2.9.3
pygame==2.1.2
pylint==2.12.2
pylint-flask==0.6
pylint-plugin-utils==0.7
pyperclip==1.8.2
sqlparse==0.4.2
toml==0.10.2
whitenoise==6.0.0

