<div class="navigation">
        <div class="instalogo">
            <h2>Instagram</h2>
        </div>
        <div class="search_bar">
            <input type="text" class="search-box" placeholder="Search">
        </div>
        <div class="contacts_icons">
            <a class= 'explore' href="/"><i class="far fa-compass"></i></a>
            <a class= 'likes' href="/"><i class="far fa-heart"></i></a>
            <a class= 'profile' href="/"><i class="far fa-user"></i></a>
            <a href="/logout"><i class="fa fa-sign-out"></i></a>
        </div>
</div>
    